    $bgc: red;
    $Dc: blue;
    $Dc2: yellow;
    $block: 300px;

    html{
        background-color: $bgc;
    }
    
    div{
        background-color: $Dc;
        width:$block;
        height:$block;
        margin: 0 auto;
    }
    .dd{
        background-color: $Dc2
    }