@charset "UTF-8";
.nav_bar {
  background-color: white;
  padding-left: 1%;
  width: 100%;
}

.nav_bar img {
  float: left;
  width: 80px;
  height: 50px;
}

.nav_bar a {
  float: left;
  position: relative;
  padding: 15px 20px;
  font-size: 20px;
  text-decoration: none;
}

.playnow {
  float: right;
  position: relative;
  background-color: red;
  height: 54px;
}

.playnow a {
  text-decoration: none;
  color: white;
}

.clearfloat {
  clear: both;
}

.video_page1 {
  position: absolute;
  top: 54px;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  width: 100%;
}

.BGV {
  width: 100%;
  height: 100%;
}

.LB {
  width: 100%;
  height: 300px;
}

.lb01 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/design01.jpg");
}

.lb02 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/design02.jpg");
}

.lb03 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/design03.jpg");
}

.lb04 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/view01.jpg");
}

.lb05 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/view02.jpg");
}

.lb06 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/view03.jpg");
}

.lb07 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/view04.jpg");
}

.lb08 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/warframe01.jpg");
}

.lb09 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/warframe02.jpg");
}

.lb10 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/warframe03.jpg");
}

.lb11 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/warframe04.jpg");
}

.lb12 {
  height: 100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/introImg/warframe05.jpg");
}

.imgtext {
  position: relative;
}

.imgtextbox {
  position: absolute;
  top: 10%;
  right: 15%;
  text-align: left;
  float: right;
  width: 350px;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.gamedesigner {
  width: 300px;
  height: 270px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/遊戲總監.jpg");
}

.textbox {
  width: 100%;
}

.Platinum {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/2018-10-03-RWDselfproject/01-素材/PlatinumLarge.png");
}

.videobox {
  width: 720px;
  height: 480px;
}

.paddingbox {
  height: 15%;
}

.blank {
  background-color: #ECECEC;
}

footer {
  background-color: white;
  padding-left: 1%;
  width: 100%;
}

.BH {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=selfproject-CSSpart.css.map */