
    $BGC:#000;
    $fontB:40px;
    $fontM:30px;
    $fontS:18px;
    $fontN:20px;

    html{
        @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
        margin: 0px;
        background-color: $BGC;
        font-family: ‘cwTeXYen’, sans-serif;
        font-weight: 800;
    }

    .Page {
        width: 1920px;
        height: 980px;
        margin: 0 auto;
    }
    /* 各頁面寬高 */

    .Pages {
        max-width: 60%;
        margin: 0 auto;
    } 
    /* 內文寬 */

    .title {
        width: 60%;
        margin:auto;
    }
     /* 標題寬高 */

    .titlefont {
        width: 60%;
        font-size: $fontB;
        letter-spacing: 30px;
        color: #BB9E27;
    }
    /* 標體字設定 */