
    $BGC:#000;
    $fontB:40px;
    $fontM:30px;
    $fontS:18px;
    $fontN:20px;
    .html{
        margin: 0px;
        background-color: $BGC;
        font-family: ‘cwTeXYen’, sans-serif;
        font-weight: 800;
    }